/* background colours (with card overrides */

.bg-gradient--unit:not(.widget-card, .widget-column-options),
.widget-card.bg-gradient--unit .ubc-card,
.widget-column-options.bg-gradient--unit .widget-region-one,
.widget-column-options.bg-gradient--unit .widget-region-two,
.widget-column-options.bg-gradient--unit .widget-region-three {
	background: linear-gradient(227deg, var(--color-grad--light) 2.5%, var(--color-grad--mid) 33%, var(--color-grad--dark) 80%);
}

.bg-gradient:not(.widget-card, .widget-column-options),
.widget-card.bg-gradient .ubc-card,
.widget-column-options.bg-gradient .widget-region-one,
.widget-column-options.bg-gradient .widget-region-two,
.widget-column-options.bg-gradient .widget-region-three {
	background: linear-gradient(227deg, #0055b7 2.5%, #003A79 33%, #002145 80%);
}